@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <title>Oh MY God It wprked!!!!</title>
</head>
<body>
    <p>I am very boring text.</p>
</body>
</html>
